.container
    display: flex
    justify-content: center
    flex-wrap: wrap
    .image
        background-color: #E5E5E5;
        overflow: hidden
        width: 100px
        height: 100px
        margin: 5px
    .imageInputContainer
        margin: 10px
        .imageInput
            display: none
        .inputLabel
            color: #D0CFCF
            padding: 5px 10px
            cursor: pointer
            line-height: 20px
            font-size: 20px
            margin: 5px auto;
            outline: 2px dashed #D0CFCF;
            background: none;
            border-radius: 4px;
            font-family: 'Roboto', sans-serif
            // padding-left: 16px
