.container
    width: 300px
    height: 350px
    .heading
        font-family: 'Bangers', cursive
        font-size: 18px
    .nickname
        font-family: 'Bangers', cursive
        color: red
        font-size: 50px