.container
    background-color: white
    padding: 20px
    width: 800px
    margin: 50px auto
    border-radius: 10px;
    .nickname
        margin-bottom: 20px
        font-family: 'Bangers', cursive
        font-size: 40px
    .heroContainer
            display: flex
    .imageInputContainer
        margin: 10px
        outline: 2px dashed #D0CFCF;
        height: 100px
        width: 100px
        border-radius: 4px;
        .imageInput
            display: none
        .inputLabel
            color: #D0CFCF
            cursor: pointer
            line-height: 20px
            font-size: 20px
            margin: auto
            outline: none
            background: none;
            border-radius: 4px;
            font-family: 'Roboto', sans-serif
            .preview
                height: 100px
                width: 100px

    .buttonContainer
        display: flex
        justify-content: space-around;
        .button
            display: block;
            text-decoration: none;
            border-radius: 50%;
            padding: 10px 20px;
            margin: 10px;
            background: #F4E041;
            cursor: pointer;
            color: white;
            font-family: 'Bangers', cursive;
            font-size: 30px

            &:hover
                background: #FFE302;